<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="product.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
    </head>
    <body onload="showproduct()">
     <!-- for header part -->
     <div class="header"> 
        <div class="topheader">
            <p>Hotline: (+100) 123 456 7890</p>
            <p>Welcome to our market!</p>
            <div class="options">
                <p>USD</p>
                <p>ENG</p>
                <p>COMPARE</p>
                <p>WISHLIST</p>
                <p>ACCOUNT</p>
            </div>
        </div>
        <div class="bottomheader">
            <h1>EMPORIUM</h1>
            <div class="searchbox">
                <button class="categoriesbtn">All categories</button>
                <input class="searchbar" type="text" placeholder="Type to search">
            </div>
            <a href="../cart/cart.html"><button class="cartbtn"><i class="fa fa-shopping-cart"></i>Shopping cart</button></a>
        </div>
    </div>
     <!-- for navigation panel -->
     <div class="navbar">
        <a href="../homepage/index.html"><button class="navbtn">HOME</button></a>
        <a><button class="navbtn">FASHION</button></a>
        <a><button class="navbtn">JEWELLERY</button></a>
        <a><button class="navbtn">ELECTRONICS</button></a>
        <a><button class="navbtn">SPORTS</button></a>
        <a><button class="navbtn">PAGES</button></a>
        <a><button class="navbtn">CONTACT</button></a>
        <a><button class="navbtn">ADMIN PANEL</button></a>        
    </div>
    <!-- for container -->
    <div class="container">
        <!-- for navigation routes panel -->
        <div class="nav-panel">
            <i class="fa fa-home"></i>
            <a>Home</a>
            <a>products</a>
            <a>All products</a>
        </div>
        <!-- for the product details -->
        <div class="product-container">
            <div class="item image-container">
                <img id="img1"  class="item" src="">
                <div class="sub-images">
                    <img id="img2" class="item" src="">
                    <img id="img3" class="item" src="">
                    <img id="img4" class="item" src="">
                </div>
            </div>
            <div class="item details">
                <h2 id="name"></h2>
                <p id="type"></p>
                <p>Availability</p>
                <p id="rating"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Ut congue eleifend nulla vel rutrum. Donec tempus metus non erat vehicula,
                      vel hendrerit sem interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                       cubilia Curae.</p>
                <h2>$<span id="price"></span></h2>
                <div class="color-size">
                    <div class="section">
                        <p>Select color:</p>
                        <div class="color1 square"></div>
                        <div class="color2 square"></div>
                        <div class="color3 square"></div>
                    </div>
                    <div class="section">
                        <p>Select size:</p>
                        <div class="square">10</div>
                        <div class="square">12</div>
                    </div>
                </div>
                <div class="color-size">
                    <div class="section">
                        <p>Quantity:</p>
                        <div class="square">--</div>
                        <div class="square">1</div>
                        <div class="square">+</div>
                    </div>
                    <div class="section">
                        <div class="icon-wrapper">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-compress"></i>
                        </div>                 
                    </div>
                </div>
            </div>
            <div class="item offers">
                <div class="offeritems">
                    <div>
                        <i class="fa fa-gift"></i>
                    </div>
                    <div>
                        <p>BONUS PLUS</p>
                        <p class="subhead">Make fun of shopping and collect bonuses</p>
                    </div>    
                </div>
                <div class="offeritems">
                    <div>
                        <i class="fa fa-truck"></i>
                    </div>
                    <div>
                        <p>FREE SHIPPING</p>
                        <p class="subhead">Free shipping on all orders over $99</p>
                    </div>           
                </div>
                <div class="offeritems">
                    <div>
                        <i class="fa fa-usd" ></i>
                    </div>
                    <div>
                        <p>MONEY BACK GUARANTEE</p>
                        <p class="subhead">30 Days money return guarantee</p>
                    </div>         
                </div>
                <div class="offeritems">
                    <div>
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div>
                        <p>ONLINE SUPPORT 24/7</p>
                        <p class="subhead">Call us: (+100) 123 456 7890</p>
                    </div>                           
                </div>
            </div>
            <div class="additonal-info">
                <div class="description">
                    <div class="info-headings">
                        <h3>description</h3>
                        <h3>Additional Information</h3>
                        <h3>Review</h3>
                    </div>
                    <div class="info-container">
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id nulla metus. Maecenas commodo turpis dui, porttitor tincidunt enim mollis a. Curabitur eu velit mi. Nullam congue turpis id metus sollicitudin, id cursus nulla laoreet. Proin commodo eu felis at malesuada. Nulla ac facilisis justo, eget vulputate ex. Nulla nec laoreet nulla. Cras auctor leo at diam congue, quis convallis urna pulvinar. Nunc ut mi nulla. Nunc ligula massa, vulputate sed scelerisque sit amet, dapibus semper est. Sed sed blandit turpis. Vestibulum id porttitor ligula, at iaculis ligula. Pellentesque vel tellus sit amet mauris aliquet bibendum id et lorem
                            <ul>
                                <li>Phasellus eu justo dictum, varius eros ut, posuere sapien.</li>
                                <li>Phasellus eu justo dictum, varius eros ut, posuere sapien.</li>
                                <li>Phasellus eu justo dictum, varius eros ut, posuere sapien.</li>
                                <li>Phasellus eu justo dictum, varius eros ut, posuere sapien.</li>
                            </ul>
                            Duis eu felis ultricies urna pharetra efficitur nec non elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur posuere eu justo eget mollis. Sed semper accumsan urna vel rutrum. Nulla condimentum quis lacus ut semper. Quisque at massa pretium, porta ligula ut, rutrum elit. Pellentesque et orci sit amet dolor laoreet tempor sed eu sem. Morbi lacinia pellentesque tellus euismod eleifend.
                            Quisque fringilla eros id ligula luctus, a gravida augue sodales. Sed eget augue ut lectus condimentum volutpat. Morbi quis nunc viverra, gravida arcu quis, varius metus. Praesent tincidunt ipsum est, quis molestie ligula efficitur ut. Nunc interdum erat eu tortor maximus suscipit. Vivamus nec laoreet dui. Nullam dignissim laoreet metus quis pretium.
                        </div>     
                    </div>
                </div>
                <div class="banner-container">
                    <div class="banner">
                        Banner1
                    </div>
                    <div class="banner">
                        Banner2
                    </div>
                    <div class="banner">
                        Banner3
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <div class="item related">
                Related products
            </div>
            <div id="trendscontainer" class="trendscontainer">
                <!-- <div class="itemcard">
                    <img src="./images/keyboard.png">
                    <div>
                        <p class="type">Electronics</p>
                        <p class="itemname">Keyboard</p>
                    </div>
                    <div class="price-rating">
                        <p class="price">$720.00</p>
                        <div class="rating">
                            <p><i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i></p>
                            <p class="ratingno">12 ratings</p>
                        </div>
                    </div>
                    <div class="icon-options">
                        <div class="icon-wrapper">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-compress"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-eye"></i>
                        </div>                
                    </div>
                </div>
                <div class="itemcard">
                    <img src="./images/headset.png">
                    <div>
                        <p class="type">Electronics</p>
                        <p class="itemname">HeadPhone</p>
                    </div>
                    <div class="price-rating">
                        <p class="price">$720.00</p>
                        <div class="rating">
                            <p><i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i></p>
                            <p class="ratingno">12 ratings</p>
                        </div>
                    </div>
                    <div class="icon-options">
                        <div class="icon-wrapper">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-compress"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-eye"></i>
                        </div>                
                    </div>
                </div>
                <div class="itemcard">
                    <img src="./images/pc.png">
                    <div>
                        <p class="type">Electronics</p>
                        <p class="itemname">All in One PC</p>
                    </div>
                    <div class="price-rating">
                        <p class="price">$720.00</p>
                        <div class="rating">
                            <p><i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i></p>
                            <p class="ratingno">12 ratings</p>
                        </div>
                    </div>
                    <div class="icon-options">
                        <div class="icon-wrapper">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-compress"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-eye"></i>
                        </div>                
                    </div>
                </div>
                <div class="itemcard">
                    <img src="./images/macbook.png">
                    <div>
                        <p class="type">Electronics</p>
                        <p class="itemname">MacBook</p>
                    </div>
                    <div class="price-rating">
                        <p class="price">$720.00</p>
                        <div class="rating">
                            <p><i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i></p>
                            <p class="ratingno">12 ratings</p>
                        </div>
                    </div>
                    <div class="icon-options">
                        <div class="icon-wrapper">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-compress"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-eye"></i>
                        </div>                
                    </div>
                </div>
                <div class="itemcard">
                    <img src="./images/iphone.png">
                    <div>
                        <p class="type">Electronics</p>
                        <p class="itemname">Phone</p>
                    </div>
                    <div class="price-rating">
                        <p class="price">$720.00</p>
                        <div class="rating">
                            <p><i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i></p>
                            <p class="ratingno">12 ratings</p>
                        </div>
                    </div>
                    <div class="icon-options">
                        <div class="icon-wrapper">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-compress"></i>
                        </div>
                        <div class="icon-wrapper">
                            <i class="fa fa-eye"></i>
                        </div>                
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- for footer -->
    <div class="footer">
        <div class="subscription">
            <div class="subscribe-header">
                <h2>Subscribe our Newspaper</h2>
                <p>Stay up to date with our latest new and products</p>
            </div>
             <div class="email-address"> 
                <input type="text" placeholder="Your email address">
                <button>Subscribe</button>
            </div> 
        </div>
        <div class="contact-info">
            <div class="links">
                <p class="heading1">USEFUL LINKS</p>
                <p>My Account</p>
                <p>Contact</p>
                <p>Compare</p>
                <p>Wishlist</p>
                <p>Checkout</p>
                <p>FAQ</p>
            </div>
            <div class="contact">
                <p class="heading1">CONTACT INFORMATION</p>
                <p>2903 Avenue Z, Brooklyn, NY</p>
                <p>(212) 457-2308</p>
                <p>contact@emporium.com</p>
                <p>Mon - Sun / 9:00AM - 8:00PM</p>
                <p>Get directions</p>
                <p>Routes to us</p>
            </div>
            <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.83988771852!2d-0.2664061945763933!3d51.52873980474533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2sin!4v1694337309932!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2023 All Rights Reserved</p>
            <p>Designed & Developed by Farzan</p>
        </div>
    </div>
    <script src="../../scripts/user.js"></script>
</body>
</html>